html * {
  background-color: #89b6ff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.piece {
  line-height: 150%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  /*text-align: left;*/
  font-size: 125%;
}
#para {
  text-indent: 50px;
}
.titleline {
  font-size: 150%;

}
